main {
    padding: 30px 0;
}

footer {
    padding-top: 60px;
}

.news-item {
    display: flex;
    position: relative;
    padding: 10px 15px;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    transition: all .25s ease-out;
    cursor: pointer;
    user-select: none;
}

.news-item:hover {
    background-color: #eee;
    box-shadow: 0 0 5px #aaa;
}

.news-item div {
    padding: 3px 0;
}

.news-item .news-name {
    font-size: 20px;
    font-weight: 500;
}

.news-item .news-image {
    width: 200px;
    height: 200px;
}

.news-detail .news-detail-image img {
    background-color: #fcfcfc;
    border-radius: 5px;
}

.news-item .news-image img,
.news-detail .news-detail-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

.news-item .news-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.news-detail-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.news-detail-date {
    text-align: right;
    font-size: 13px;
    color: #777;
    font-style: italic;
    padding-top: 10px;
}

.back-to-list {
    margin: 20px 0;
}

.back-to-list a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    transition: all .25s ease;
    position: relative;
    overflow: hidden;
    display: block;
    width: max-content;
}

.back-to-list a:hover {
    color: #666;
}

.back-to-list a:hover:before {
    transform: translateX(0);
}

.back-to-list a:before {
    content: '';
    background: linear-gradient(to right, #666, #999);
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateX(-101%);
    transition: all .25s ease;
}

.news-admin-item {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 5px 0;
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.news-admin-item:hover {
    background-color: #eee;
}

.news-admin-item .news-name {
    flex: .7 0 auto;
}

.news-admin-item .news-date-created {
    flex: .3 0 auto;
}

.button-wrapper {
    margin: 10px 0;
}

.modal-footer .button-wrapper {
    width: 100%;
    text-align: center;
}


@media (max-width: 768px) {
    .button-wrapper button{
        width: 100%;
        padding: 10px 0;
    }
}

@media (max-width: 425px) {
    .news-admin-item {
        flex-direction: column;
    }

    .news-admin-item div {
        margin: 5px 0;
    }

    .title {
        text-align: center;
    }

    .title h1{
        font-size: 24px;
    }
}

.loading {
    z-index: 1;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(200, 200, 200, 0.5);
    justify-content: center;
    align-items: center;
}

.loading-text {
    font-size: 24px;
}

textarea {
    resize: none;
}

.input-file-container {
    display: flex;
    position: relative;
    border: 1px dashed #999;
    height: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.input-file-container .input-file-text {
    padding: 10px;
    transition: color .25s ease;
}

.input-file-container:hover .input-file-text {
    color: #777;
}

.input-file-container .input-file {
    display: none;
}

.input-file-container .input-file-label {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    cursor: pointer;
}